@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Zen Kaku Gothic Antique", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  margin: 40px 0px;
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
}

.min100 {
  min-height: 100vh;
}

.min80 {
  min-height: 80vh;
}

.min20 {
  min-height: 20vh;
}

.bgred {
  background-color: red;
}

.width100 {
  width: 100%;
}
